<h1 class="text-2xl font-bold text-teal-500 mt-4 mb-4">Categorías</h1>
<% @categories.each do |category| %>
    <%= link_to category_path(category.id) do %>
        <p class="mb-4 underline"><%= category.name %></p>
    <% end %>
<% end %>